.hero {
  position: relative;
  min-height: 100svh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  width: 100%;
}



/* optional overall image treatment */

.filter {
  position: absolute;
  inset: 0;

  pointer-events: none;

  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  ); */

  background: rgba(0, 0, 0, 0.402);

  z-index: 0;
  
}


/* LEFT SIDE */

.creditsTitle{
  position: fixed;
  background-color: var(--background);
  z-index: 10;
  width:100%;
  height:8rem;
  display: flex;
  align-items: center;
  padding-left:clamp(1rem, 2vw, 2rem)
}

.creditsTitle > h2 {
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -0.06em;
  color: var(--foreground, black);

}
.mobileCreditsTitle{
  display: none;
  line-height: 0.9;
  letter-spacing: -0.06em;
  color: var(--foreground, black);
 
}

.mobileCreditsTitle > *{
  font-weight: 500;
}
.credits {
  position: relative;
  z-index: 1;

  min-width: 0;
}




/* RIGHT SIDE */

.profileContainer{

  display: flex;
  justify-content: center;
    position: sticky;
  top: 0;

  z-index: 1;
   z-index: 99;

}

.profile {


  height: 100svh;
  min-width: 0;
  width:min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: clamp(1.5rem, 3vw, 3rem);
 
}


.heroText {
  text-align: right;
  

}


.heroTitle {
  margin: 0;

  font-size: clamp(2.5rem, 3vw, 5rem);
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -0.06em;
 color: var(--foreground, black);

 text-wrap: nowrap;
}



.heroSubtitle {
  margin: 0.75rem 0 0;

  font-size: clamp(0.9rem, 1.2vw, 1.6rem);
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-weight: 700;
  

}

.imgContainer{
  width:100%;

}


.portrait {

  display: block;

  width:100%;
  height: auto;

  margin-top: clamp(2rem, 6vh, 5rem);

  object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgba(22, 3, 8, 0.352));
   
}


.contact, .email {
  margin-top: auto;

  color: inherit;
  text-decoration: none;

 
  color:var(--background, white);

  text-transform: uppercase;


}

.cta{
  text-align: right;
}

.contact{
 font-size: clamp(2.5rem, 3vw, 4rem);
}
.email{
   font-size: clamp(2rem, 2.5vw, 3rem);
   color:var(--orange);
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .profileContainer{
    width:100%;
    background-color: var(--background);
    
  }

  .profile {
    position: relative;
    top: auto;

    width: 100%;
    height: auto;

    padding: clamp(1.5rem, 3vw, 3rem);
  
    
    align-items: flex-start;
  

  }

  .heroText {
    text-align: center;
  }

  .portrait {
   display: none;
  }

  .creditsTitle{
    display: none;
  }

  .mobileCreditsTitle{
 
   
    width:100%;
    text-align: left;
    margin-top: 2rem;
   
  }
}